<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="<%- coverImage %>" title="<%- albumName %>" width="30%" />
        <div class="caption"><a href="#album/<%- id %>"><h4><%- albumName %></h4></a></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <% _.each(titleImages, function(image) { %>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="thumbnail">
                        <img src="<%- image.imageData %>" title="<%- image.imageName %>" width="100%"/>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<hr />
