<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <h3>Images from <%- currentAlbum.albumName %></h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <h5>showing items <%- paginationData.firstItemNumber %> &ndash; <%- paginationData.lastItemNumber %> of <%- paginationData.totalCount %></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <% if (paginationData.pageCount > 1) { %>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                <% _.each(paginationData.pagesInRange, function(page) { %>
                    <li <% if (paginationData.current == page) { %> class="active" <% } %>><a href="#album/<%- currentAlbum.id %>/page/<%- page %>"><%- page %></a>
                <% }) %>
                </ul>
            </nav>
        <% } %>
    </div>
</div>
<container id="thumbnail-container">
</container>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <% if (paginationData.pageCount > 1) { %>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                <% _.each(paginationData.pagesInRange, function(page) { %>
                    <li <% if (paginationData.current == page) { %> class="active" <% } %>><a href="#album/<%- currentAlbum.id %>/page/<%- page %>"><%- page %></a>
                <% }) %>
                </ul>
            </nav>
        <% } %>
    </div>
</div>
