<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h1>Image Gallery <small id="show-albums" style="cursor: pointer; display: none;">show albums</small></h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4">
        <div class="nav">
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-8">
        <div class="images-list">
        </div>
    </div>
    <!-- <div class="col-lg-12 col-md-12 col-xs-12">
        <button type="button" class="btn btn-sm btn-default" id="more-albums">more albums</button>
    </div> -->
</div>
